<div class="container">
  <h1>Stock list</h1>
  <button [routerLink]="['/stock-form']">Add New Stock</button>
  <input type="text" (keyup)="onKeyUp($event)" placeholder="Search...">
  <p>Click on a coloumn header to sort by that column</p>
  <table>
    <thead>
      <tr>
        <th (click)="sortBy('quantity')">Quantity</th>
        <th (click)="sortBy('productNumber')">Product #</th>
        <th (click)="sortBy('location')">Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockItems | search: searchTerm">
        <td>{{ stock.quantity }}</td>
        <td>{{ stock.productNumber }}</td>
        <td>{{ stock.location }}</td>
        <td>
          <button [routerLink]="['/stock-form', stock.id]">Edit</button>
          <button (click)="confirmDelete(stock.id)">Delete</button>
          <div *ngIf="stock.id === idToDelete" class="modal">
            <div class="modal-content">
              <p>Are you sure you want to delete this stock item?</p>
              <button (click)="deleteStock(stock.id); idToDelete= null">Yes</button>
              <button (click)="idToDelete = null">No</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>