.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 10px;
  width: 30%;
  border-radius: 5px;
}

.modal-content button {
  margin: 10px;
}

.container button {
  margin-right: 10px;
}

.error-message {
  color: red;
}